services:
  backend:
    container_name: api
    build:
      context: ./backend/app
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    depends_on:
      db:
        condition: service_healthy
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    networks:
      - rede_local

  db:
    container_name: database
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - rede_local

  adminer:
    container_name: adminer
    image: adminer
    ports:
      - "8080:8080"
    networks:
      - rede_local

  frontend:
    container_name: front
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "5500:80"
    networks:
      - rede_local

volumes:
  postgres_data:

networks:
  rede_local:
    driver: bridge
